@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Electrolize';
  src: url('/fonts/Electrolize-Regular.ttf');
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;

  margin: 0;
  font-family: 'Electrolize';
  scroll-behavior: smooth;
}